.info {
    display: flex;
    align-items: center;

    margin: $space3 0;

    & > * {
        margin-right: $space3;
    }

    &_writer {
        text-decoration: underline;
        text-decoration-color: $yellow;

        &::after {
            content: '';
            width: 100%;
            height: 4px;
            background-color: $yellow;
        }
    }
}
