.notification {
    position: absolute;
    width: 100%;

    background-color: red;

    padding: $padding_default;

    display: none;

    &.active {
        display: block;
    }

    p {
        text-align: center;
        color: $light;

        strong {
            color: $light;
        }

        b {
            color: $light;
        }

        a {
            color: $light;
            font-weight: bold;
        }
    }
}
