h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: $font_title;
    font-weight: bold;
    font-style: italic;
    position: relative;
}

.title {
    font-size: 50px;
    margin-bottom: $space2;

    &_sub {
        font-size: 26px;
        color: #999;
        margin-bottom: $space2;
        display: block;
    }

    &_small {
        font-size: 22px;
        display: inline-block;
    }
    &_big {
    }
}

.introduction_text .text {
    font-size: 26px;
}

.introduction {
    font-weight: bold;
}

li,
ul {
    font-size: 22px;
}

.info {
    font-size: 14px;
}

p {
    line-height: 34px;
}
